#coming-soon,
#maintenance,
#p403,
#p404,
#p500
  background: #000

  /* & header
    padding-top: 200px
    lost-center: var(--page-width)
    & .logo-banner
      & polygon
        fill: #FFF
      & .brand
        fill: #000 */
  & main
    lost-center: var(--page-width)
    color: white

    & .message
      padding-left: 100px

    @media screen and (--s)
      margin-top: 0

  & .waves
    position: absolute
    top: 0
    left: 0
    z-index: -1
