#web
  .fact
    display: inline-block
    width: 300px
    vertical-align: top
    min-height: 200px
    background: #E74C3C
    padding: 30px

  .factotron
    list-style-type: none
    list-style: none
    padding: 0
    width: 1200px
