/*TODO : Text highlight */

/*Current strategy : all pages use the same bundle.css file. */
/*Pros: cache. OK if pages don't have too much individual styles (increase overall size)  */
/*Cons : Size. KO if some pages only use few individual styles ... */
/*Let's find the critical path ... ;) */
/*Best practices : https://github.com/jescalan/gps */

@import '../../node_modules/html5-boilerplate/src/css/main.css'
@import 'cssrecipes-defaults'

@import '_blog.sss'
@import '_web.sss'
